* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {}

@keyframes slide {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(-100%);
  }
}


.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  opacity: 1 !important;
  background: #8B8D9C !important;
}

.swiper-pagination-bullet-active {
  background: #FFFFFF !important;
}